{% extends "base.html" %}

{% block head %}
    <title>Signup - Wrapped</title>
{% endblock head %}

{% block content %}
    <div class="flex flex-col gap-12 justify-center items-center w-full p-8 h-[85vh]">
        <h1 class="text-4xl font-bold">Sign up!</h1>
        <a class="button-primary w-full max-w-[32rem] p-4 text-lg font-semibold text-center"
        href="https://accounts.spotify.com/authorize?response_type=code&client_id=6ed906f1daf24f699ff857c57792a282&scope=user-read-private+user-read-email+user-top-read&redirect_uri=http%3A%2F%2F127.0.0.1%3A8000%2Fauth%2Fcallback&show_dialog=true">
            Sign up with Spotify!
        </a>
    </div>
{% endblock content %}

<!-- Note: need to change redirect_uri when in production -->