{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>Home - Wrapped</title>
{% endblock head %}

{% block content %}
    <section class="p-6 bg-black text-white text-center">
        <h1 class="text-5xl font-bold mt-16">Create Your Personalized Wraps!</h1>
        <button class="bg-green-500 text-black rounded-full px-6 py-2 mt-12 font-medium hover:scale-105">Try it out!</button>
    </section>

    <section class="p-12 bg-black text-white">
        <h2 class="text-3xl mb-4 font-semibold">My Wraps</h2>
        <div class="grid grid-flow-row gap-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        <!-- start of card -->
                <div class="bg-purple-700 rounded-lg p-6 relative h-64 hover:scale-105">
            
                <!-- Heart icon-->
                <div class="absolute top-4 right-4">
                    <img src="{% static 'heart_outline.svg' %}" alt="heart" class="w-full max-w-8">
                </div>
                
                <!-- Text -->
                <div class="absolute bottom-4 left-4">
                    <h2 class="text-white text-xl font-bold mb-1">My Spotify Wrap</h2>
                    <p class="text-gray-300">eskedie</p>
                </div>
                </div>
        <!-- end of card -->
        <!-- start of card -->
            <div class="bg-purple-700 rounded-lg p-6 relative h-64 hover:scale-105">
        
            <!-- Heart icon-->
            <div class="absolute top-4 right-4">
                <img src="{% static 'heart_outline.svg' %}" alt="heart" class="w-full max-w-8">
            </div>
            
            <!-- Text -->
            <div class="absolute bottom-4 left-4">
                <h2 class="text-white text-xl font-bold mb-1">My Spotify Wrap</h2>
                <p class="text-gray-300">eskedie</p>
            </div>
            </div>
        <!-- end of card -->
        <!-- start of card -->
            <div class="bg-purple-700 rounded-lg p-6 relative h-64 hover:scale-105">
        
            <!-- Heart icon-->
            <div class="absolute top-4 right-4">
                <img src="{% static 'heart_outline.svg' %}" alt="heart" class="w-full max-w-8">
            </div>
            
            <!-- Text -->
            <div class="absolute bottom-4 left-4">
                <h2 class="text-white text-xl font-bold mb-1">My Spotify Wrap</h2>
                <p class="text-gray-300">eskedie</p>
            </div>
            </div>
        <!-- end of card -->
        <!-- start of card -->
        <div class="bg-purple-700 rounded-lg p-6 relative h-64 hover:scale-105">
        
            <!-- Heart icon-->
            <div class="absolute top-4 right-4">
                <img src="{% static 'heart_outline.svg' %}" alt="heart" class="w-full max-w-8">
            </div>
            
            <!-- Text -->
            <div class="absolute bottom-4 left-4">
                <h2 class="text-white text-xl font-bold mb-1">My Spotify Wrap</h2>
                <p class="text-gray-300">eskedie</p>
            </div>
            </div>
        <!-- end of card -->
        <!-- start of card -->
        <div class="bg-purple-700 rounded-lg p-6 relative h-64 hover:scale-105">
        
            <!-- Heart icon-->
            <div class="absolute top-4 right-4">
                <img src="{% static 'heart_outline.svg' %}" alt="heart" class="w-full max-w-8">
            </div>
            
            <!-- Text -->
            <div class="absolute bottom-4 left-4">
                <h2 class="text-white text-xl font-bold mb-1">My Spotify Wrap</h2>
                <p class="text-gray-300">eskedie</p>
            </div>
            </div>
        <!-- end of card -->
        </div>
    </section>
{% endblock content %}