{% extends "base.html" %}

{% block head %}
    <title>My Wraps</title>
{% endblock head %}

{% block content %}

        <div style="width: 100%; height: 100%; position: relative; background: black">
            <div style="left: 310px; top: 239px; position: absolute; color: white; font-size: 64px; font-weight: 800; word-wrap: break-word">Welcome back, Username!</div>
            <div style="left: 88px; top: 596px; position: absolute; color: white; font-size: 48px; font-weight: 700; word-wrap: break-word">My Wraps</div>
            
            <div style="width: 700px; height: 84px; left: 547px; top: 414px; position: absolute">
                
                <style>
                    .block {
                      display: block;
                      border: none;
                      background-color: #1ED760;
                      color: black;
                      padding: 14px 28px;
                      font-size: 30px;
                      border-radius: 100px;
                      cursor: pointer;
                      text-align: center;
                    }
                    
                    .block:hover {
                      background-color: #ddd;
                      color: black;
                    }
                    </style>
                    
                    
                    <button class="block">Create a wrap!</button>
            </div>
            <div style="width: 600px; height: 400px; left: 82px; top: 702px; position: absolute">
                <div style="width: 600px; height: 400px; left: 0px; top: 0px; position: absolute; background: #362E8A; border-radius: 25px"></div>
                <div style="width: 289px; height: 46.93px; left: 38px; top: 278.40px; position: absolute; color: white; font-size: 36px; font-weight: 600; word-wrap: break-word">My Spotify Wrap</div>
                <div style="width: 106px; height: 36.27px; left: 38px; top: 332.80px; position: absolute; color: #B3B3B3; font-size: 28px; font-weight: 600; word-wrap: break-word">name</div>
                <div style="width: 52.95px; height: 45px; left: 512px; top: 28px; position: absolute; background: #000000"></div>
            </div>
            <div style="width: 600px; height: 400px; left: 758px; top: 702px; position: absolute">
                <div style="width: 600px; height: 400px; left: 0px; top: 0px; position: absolute; background: #8A2E44; border-radius: 25px"></div>
                <div style="width: 289px; height: 46.93px; left: 38px; top: 278.40px; position: absolute; color: white; font-size: 36px; font-weight: 600; word-wrap: break-word">My Spotify Wrap</div>
                <div style="width: 106px; height: 36.27px; left: 38px; top: 332.80px; position: absolute; color: #B3B3B3; font-size: 28px; font-weight: 600; word-wrap: break-word">name</div>
                <div style="width: 52.95px; height: 45px; left: 509px; top: 28px; position: absolute; background: #D82D7E"></div>
            </div>
            <div style="width: 600px; height: 400px; left: 83px; top: 1167px; position: absolute">
                <div style="width: 600px; height: 400px; left: 0px; top: 0px; position: absolute; background: #005772; border-radius: 25px"></div>
                <div style="width: 289px; height: 46.93px; left: 38px; top: 278.40px; position: absolute; color: white; font-size: 36px; font-weight: 600; word-wrap: break-word">My Spotify Wrap</div>
                <div style="width: 106px; height: 36.27px; left: 38px; top: 332.80px; position: absolute; color: #B3B3B3; font-size: 28px; font-weight: 600; word-wrap: break-word">name</div>
                <div style="width: 52.95px; height: 45px; left: 512px; top: 28px; position: absolute; background: rgb(255, 255, 255)"></div>
            </div>
            <div style="width: 600px; height: 400px; left: 758px; top: 1167px; position: absolute">
                <div style="width: 600px; height: 400px; left: 0px; top: 0px; position: absolute; background: #8A652E; border-radius: 25px"></div>
                <div style="width: 289px; height: 46.93px; left: 38px; top: 278.40px; position: absolute; color: white; font-size: 36px; font-weight: 600; word-wrap: break-word">My Spotify Wrap</div>
                <div style="width: 106px; height: 36.27px; left: 38px; top: 332.80px; position: absolute; color: #B3B3B3; font-size: 28px; font-weight: 600; word-wrap: break-word">name</div>
                <div style="width: 52.95px; height: 45px; left: 509px; top: 28px; position: absolute; background: #D82D7E"></div>
            </div>
        </div>
{% endblock content %}
