{% extends "base.html" %}

{% block head %}
<title>Wrapped Slideshow</title>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
{% endblock head %}

{% block content %}
<div class="swiper-container" style="overflow:hidden">
    <div class="swiper-wrapper">
        <!-- Slide 1 My Spotify Wrap -->
        <div class="swiper-slide flex items-center justify-center h-[90vh] pl-2 pr-2">
            <div class="bg-cover bg-center w-full min-w-[300px] sm:w-[30%] h-[70%] rounded-[40px] relative"
                style="background-image: url('{{ spotify_data.slide1_background }}');">
                <div class="p-4 rounded-[40px] h-full flex flex-col items-start justify-end text-white absolute bottom-0 left-0 m-10">
                    <h1 class="text-4xl font-bold mb-5">{{ spotify_data.name }}</h1>
                    <p class="text-4xl text-center truncate">{{ spotify_data.username }}</p>
                </div>
            </div>
        </div>

        <!-- Slide 2 Your Favorite Song Was -->
        <div class="swiper-slide flex items-center justify-center h-[90vh] pl-2 pr-2">
            <div class="bg-cover bg-center w-full min-w-[300px] sm:w-[30%] h-[70%] rounded-[40px]"
                style="background-image: url('{{ spotify_data.slide2_background }}');">
                <div class="bg-black bg-opacity-0 p-4 rounded-[40px] h-full flex flex-col items-center justify-center text-white">
                    <h1 class="text-xl font-bold text-center truncate">Your Favorite Song Was...</h1>
                </div>
            </div>
        </div>

        <!-- Slide 3 Favorite Song -->
        <div class="swiper-slide flex items-center justify-center h-[90vh] pl-2 pr-2">
            <div class="bg-cover bg-center w-full min-w-[300px] sm:w-[30%] h-[70%] rounded-[40px] relative"
                style="background-image: url('{{ spotify_data.tracks.0.album_cover }}');">
                <div class="p-4 rounded-[40px] h-full flex flex-col items-start justify-end text-white absolute bottom-0 left-0 m-10">
                    <h1 class="text-4xl font-bold drop-shadow-[0_2.2px_2.2px_rgba(0,0,0,0.8)]">{{ spotify_data.tracks.0.name }}</h1>
                    <p class="text-2xl drop-shadow-[0_2.2px_2.2px_rgba(0,0,0,0.8)]">by {{ spotify_data.tracks.0.artist }}</p>
                </div>
            </div>
        </div>

        <!-- Slide 4 Your Top Song Was -->
        <div class="swiper-slide flex items-center justify-center h-[90vh] pl-2 pr-2">
            <div class="bg-cover bg-center w-full min-w-[300px] sm:w-[30%] h-[70%] rounded-[40px] relative"
                style="background-image: url('{{ spotify_data.slide4_background }}');">
                <div class="bg-black bg-opacity-0 p-4 rounded-[40px] h-full flex flex-col items-center justify-center text-white">
                    <h1 class="text-xl font-bold text-center truncate">Your Top Songs Were ...</h1>
                </div>
            </div>
        </div>

        <!-- Slide 5 Top 3 Songs -->
        <div class="swiper-slide flex items-center justify-center h-[90vh] px-2">
            <div class="bg-cover bg-center w-full min-w-[300px] sm:w-[30%] h-[70%] rounded-[40px] overflow-hidden"
                style="background-color: #DC8808;">
                <div class="p-4 rounded-[40px] h-full flex flex-col items-start justify-start text-white overflow-hidden">
                    <div class="pt-5 pb-5 flex flex-col justify-evenly  w-full h-full">
                        <!-- Track 1 -->
                        <div class="flex items-center gap-4 w-full">
                            <h1 class="text-4xl font-bold w-12 text-center">1</h1>
                            <div class="w-20 h-20 sm:w-24 sm:h-24 flex-shrink-0">
                                <img src="{{ spotify_data.tracks.0.album_cover }}" alt="Album Cover"
                                    class="w-full h-full object-cover rounded-md">
                            </div>
                            <div class="flex-1 min-w-0">
                                <h1 class="truncate text-lg font-bold text-left">{{ spotify_data.tracks.0.name }}</h1>
                                <h1 class="truncate text-md text-left text-[#945900]">{{ spotify_data.tracks.0.artist }}</h1>
                            </div>
                        </div>
        
                        <!-- Track 2 -->
                        <div class="flex items-center gap-4 w-full">
                            <h1 class="text-4xl font-bold w-12 text-center">2</h1>
                            <div class="w-20 h-20 sm:w-24 sm:h-24 flex-shrink-0">
                                <img src="{{ spotify_data.tracks.1.album_cover }}" alt="Album Cover"
                                    class="w-full h-full object-cover rounded-md">
                            </div>
                            <div class="flex-1 min-w-0">
                                <h1 class="truncate text-lg font-bold text-left">{{ spotify_data.tracks.1.name }}</h1>
                                <h1 class="truncate text-md text-left text-[#945900]">{{ spotify_data.tracks.1.artist }}</h1>
                            </div>
                        </div>
        
                        <!-- Track 3 -->
                        <div class="flex items-center gap-4 w-full">
                            <h1 class="text-4xl font-bold w-12 text-center">3</h1>
                            <div class="w-20 h-20 sm:w-24 sm:h-24 flex-shrink-0">
                                <img src="{{ spotify_data.tracks.2.album_cover }}" alt="Album Cover"
                                    class="w-full h-full object-cover rounded-md">
                            </div>
                            <div class="flex-1 min-w-0">
                                <h1 class="truncate text-lg font-bold text-left">{{ spotify_data.tracks.2.name }}</h1>
                                <h1 class="truncate text-md text-left text-[#945900]">{{ spotify_data.tracks.2.artist }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide 6 Your Favorite Artist Was -->
        <div class="swiper-slide flex items-center justify-center h-[90vh] pl-2 pr-2">
            <div class="bg-cover bg-center w-full min-w-[300px] sm:w-[30%] h-[70%] rounded-[40px] relative"
                style="background-image: url('{{ spotify_data.slide6_background }}');">
                <div
                    class="bg-black bg-opacity-0 p-4 rounded-[40px] h-full flex flex-col items-center justify-center text-white">
                    <h1 class="text-xl font-bold text-center truncate">Your Favorite Artist Was ...</h1>
                </div>
            </div>
        </div>

        <!-- Slide 7 Favorite Artist -->
        <div class="swiper-slide flex items-center justify-center h-[90vh] pl-2 pr-2">
            <div class="bg-cover bg-center w-full min-w-[300px] sm:w-[30%] h-[70%] rounded-[40px] relative"
                style="background-image: url('{{ spotify_data.artists.0.artist_image }}');">
                <div class="p-4 rounded-[40px] h-full text-white flex justify-center items-center">
                    <h1 class="text-5xl font-bold drop-shadow-[0_2.2px_2.2px_rgba(0,0,0,0.8)] truncate">{{ spotify_data.artists.0.name }}</h1>
                </div>
            </div>
        </div>

        <!-- Slide 8 Your Top Artists Were -->
        <div class="swiper-slide flex items-center justify-center h-[90vh] pl-2 pr-2">
            <div class="bg-cover bg-center w-full min-w-[300px] sm:w-[30%] h-[70%] rounded-[40px] relative"
                style="background-image: url('{{ spotify_data.slide8_background }}');">
                <div
                    class="bg-black bg-opacity-0 p-4 rounded-[40px] h-full flex flex-col items-center justify-center text-white">
                    <h1 class="text-xl font-bold text-center truncate">Your Top Artists Were ...</h1>
                </div>
            </div>
        </div>

        <!-- Slide 9 Top 3 Artists -->
        <div class="swiper-slide flex items-center justify-center h-[90vh] px-2">
            <div class="bg-cover bg-center w-full min-w-[300px] sm:w-[30%] h-[70%] rounded-[40px] overflow-hidden"
                style="background-color: #DC8808;">
                <div class="p-4 rounded-[40px] h-full flex flex-col items-start justify-start text-white overflow-hidden">
                    <div class="pt-5 pb-5 flex flex-col justify-evenly  w-full h-full">
                        <!-- Track 1 -->
                        <div class="flex items-center gap-4 w-full">
                            <h1 class="text-4xl font-bold w-12 text-center">1</h1>
                            <div class="w-20 h-20 sm:w-24 sm:h-24 flex-shrink-0">
                                <img src="{{ spotify_data.artists.0.artist_image }}">
                            </div>
                            <div class="text-4xl font-bold flex flex-col justify-evenly h-full">
                                <h1 class="truncate text-md text-left">{{ spotify_data.artists.0.name }}</h1>
                            </div>
                        </div>
        
                        <!-- Track 2 -->
                        <div class="flex items-center gap-4 w-full">
                            <h1 class="text-4xl font-bold w-12 text-center">2</h1>
                            <div class="w-20 h-20 sm:w-24 sm:h-24 flex-shrink-0">
                                <img src="{{ spotify_data.artists.1.artist_image }}">
                            </div>
                            <div class="text-4xl font-bold flex flex-col justify-evenly h-full">
                                <h1 class="truncate text-md text-left">{{ spotify_data.artists.1.name }}</h1>
                            </div>
                        </div>
        
                        <!-- Track 3 -->
                        <div class="flex items-center gap-4 w-full">
                            <h1 class="text-4xl font-bold w-12 text-center">3</h1>
                            <div class="w-20 h-20 sm:w-24 sm:h-24 flex-shrink-0">
                                <img src="{{ spotify_data.artists.2.artist_image }}">
                            </div>
                            <div class="text-4xl font-bold flex flex-col justify-evenly h-full">
                                <h1 class="truncate text-md text-left">{{ spotify_data.artists.2.name }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide 10 LLM Summary -->
        <div class="swiper-slide flex items-center justify-center h-[90vh] pl-2 pr-2">
            <div class="bg-cover bg-center w-full min-w-[300px] sm:w-[30%] h-[70%] rounded-[40px] relative"
            style="background-image: url('{{ spotify_data.summary_background }}');"
                >
                <div
                    class="bg-black bg-opacity-0 p-4 rounded-[40px] h-full flex flex-col items-center justify-center text-white">
                    <h1 class="text-2xl text-center font-bold mb-4">Summary</h1>
                    <h3 class="text-lg font-medium text-center overflow-auto max-h-full text-text-light-gray">{{ spotify_data.summary }}</h3>
                </div>
            </div>
        </div>

        <!-- Share on Social Media and return to home button -->
        <div class="swiper-slide flex items-center justify-center h-[90vh] pl-2 pr-2">
            <div
                class="bg-cover bg-center w-full min-w-[300px] sm:w-[30%] h-[70%] rounded-[40px] relative bg-black text-white p-6">
                <div class="flex flex-col justify-center items-center h-full">
                    <!-- Return to Home Button -->
                    {% if spotify_data.can_delete %}
                        <a class="button-primary bg-primary-red w-full max-w-[12rem] text-lg font-semibold text-center mb-4"
                            href="/delete/{{spotify_data.id}}">
                            Delete?
                        </a>
                    {% endif %}
                    <a class="button-primary w-full max-w-[12rem] text-lg font-semibold text-center"
                        href="/auth/delete">
                        Return to Home
                    </a>
                    <!-- Social Media Buttons -->
                    <h1 class="pt-5 text-2xl text-center">Share your Wrapped</h1>
                    <div class="flex gap-4 pt-2">
                        <!-- Instagram -->
                        <button onclick="copyToClipboard('{{ request.build_absolute_uri }}')"
                            class="text-pink-500 hover:text-pink-600 transition-all text-3xl" title="Copy link for Instagram">
                            <i class="fab fa-instagram"></i>
                        </button>
                        <!-- Facebook -->
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank"
                            class="text-blue-600 hover:text-blue-700 transition-all text-3xl">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <!-- LinkedIn -->
                        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}" target="_blank"
                            class="text-blue-500 hover:text-blue-600 transition-all text-3xl">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <!-- Twitter Share -->
                        <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text=Check%20out%20my%20Spotify%20Wrapped%20slideshow!"
                            target="_blank" class="text-blue-400 hover:text-blue-500 transition-all text-3xl" title="Share on Twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <!-- Copy link to clipboard -->
                        <button onclick="copyToClipboard('{{ request.build_absolute_uri }}')"
                            class="text-gray-500 hover:text-gray-700 transition-all text-3xl">
                            <i class="fas fa-link"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    function copyToClipboard(text) {
        navigator.clipboard.writeText(text).then(() => {
            alert("Link copied to clipboard!");
        }).catch(err => {
            console.error("Failed to copy: ", err);
        });
    }

    var swiper = new Swiper('.swiper-container', {
        direction: 'horizontal',
        loop: false,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        autoplay: {
            delay: 9000,  // Change slide every 9 seconds
        },
    });
</script>
{% endblock content %}