{% extends "base.html" %}

{% block head %}
<title>Wrapped Slideshow</title>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
{% endblock head %}

{% block content %}
<div class="swiper-container" style="overflow:hidden">
    <div class="swiper-wrapper">
        <!-- Slide 1 My Spotify Wrap -->
        <div class="swiper-slide flex items-center justify-center h-[90vh] pl-2 pr-2">
            <div class="bg-cover bg-center w-full min-w-[300px] sm:w-[30%] h-[70%] rounded-[40px] relative"
                style="background-image: url('{{ spotify_data.slide1_background }}');">
                <div class="p-4 rounded-[40px] h-full flex flex-col items-start justify-end text-white absolute bottom-0 left-0 m-10">
                    <h1 class="text-4xl font-bold mb-5">My Spotify Wrapped</h1>
                    <p class="text-4xl text-center truncate">{{ spotify_data.username }}</p>
                </div>
            </div>
        </div>

        <!-- Slide 2 Your Favorite Song Was -->
        <div class="swiper-slide flex items-center justify-center h-[90vh] pl-2 pr-2">
            <div class="bg-cover bg-center w-full min-w-[300px] sm:w-[30%] h-[70%] rounded-[40px]"
                style="background-image: url('{{ spotify_data.slide2_background }}');">
                <div class="bg-black bg-opacity-0 p-4 rounded-[40px] h-full flex flex-col items-center justify-center text-white">
                    <h1 class="text-xl font-bold text-center truncate">Your Favorite Song Was...</h1>
                </div>
            </div>
        </div>

        <!-- Slide 3 Favorite Song -->
        <div class="swiper-slide flex items-center justify-center h-[90vh] pl-2 pr-2">
            <div class="bg-cover bg-center w-full min-w-[300px] sm:w-[30%] h-[70%] rounded-[40px] relative"
                style="background-image: url('{{ spotify_data.tracks.0.album_cover }}');">
                <div class="p-4 rounded-[40px] h-full flex flex-col items-start justify-end text-white absolute bottom-0 left-0 m-10">
                    <h1 class="text-4xl font-bold drop-shadow-[0_2.2px_2.2px_rgba(0,0,0,0.8)]">{{ spotify_data.tracks.0.name }}</h1>
                    <p class="text-2xl drop-shadow-[0_2.2px_2.2px_rgba(0,0,0,0.8)]">by {{ spotify_data.tracks.0.artist }}</p>
                </div>
            </div>
        </div>

        <!-- Slide 4 Your Top Song Was -->
        <div class="swiper-slide flex items-center justify-center h-[90vh] pl-2 pr-2">
            <div class="bg-cover bg-center w-full min-w-[300px] sm:w-[30%] h-[70%] rounded-[40px] relative"
                style="background-image: url('{{ spotify_data.slide4_background }}');">
                <div class="bg-black bg-opacity-0 p-4 rounded-[40px] h-full flex flex-col items-center justify-center text-white">
                    <h1 class="text-xl font-bold text-center truncate">Your Top Songs Were ...</h1>
                </div>
            </div>
        </div>

        <!-- Slide 5 Top 3 Songs -->
        <div class="swiper-slide flex items-center justify-center h-[90vh] px-2">
            <div class="bg-cover bg-center w-full min-w-[300px] sm:w-[30%] h-[70%] rounded-[40px] overflow-hidden"
                style="background-color: #DC8808;">
                <div class="p-4 rounded-[40px] h-full flex flex-col items-start justify-start text-white overflow-hidden">
                    <div class="pt-5 pb-5 flex flex-col justify-evenly  w-full h-full">
                        <!-- Track 1 -->
                        <div class="flex items-center gap-4 w-full">
                            <h1 class="text-4xl font-bold w-12 text-center">1</h1>
                            <div class="w-20 h-20 sm:w-24 sm:h-24 flex-shrink-0">
                                <img src="{{ spotify_data.tracks.0.album_cover }}" alt="Album Cover"
                                    class="w-full h-full object-cover rounded-md">
                            </div>
                            <div class="flex-1 min-w-0">
                                <h1 class="truncate text-lg font-bold text-left">{{ spotify_data.tracks.0.name }}</h1>
                                <h1 class="truncate text-md text-left text-[#945900]">{{ spotify_data.tracks.0.artist }}</h1>
                            </div>
                        </div>
        
                        <!-- Track 2 -->
                        <div class="flex items-center gap-4 w-full">
                            <h1 class="text-4xl font-bold w-12 text-center">2</h1>
                            <div class="w-20 h-20 sm:w-24 sm:h-24 flex-shrink-0">
                                <img src="{{ spotify_data.tracks.1.album_cover }}" alt="Album Cover"
                                    class="w-full h-full object-cover rounded-md">
                            </div>
                            <div class="flex-1 min-w-0">
                                <h1 class="truncate text-lg font-bold text-left">{{ spotify_data.tracks.1.name }}</h1>
                                <h1 class="truncate text-md text-left text-[#945900]">{{ spotify_data.tracks.1.artist }}</h1>
                            </div>
                        </div>
        
                        <!-- Track 3 -->
                        <div class="flex items-center gap-4 w-full">
                            <h1 class="text-4xl font-bold w-12 text-center">3</h1>
                            <div class="w-20 h-20 sm:w-24 sm:h-24 flex-shrink-0">
                                <img src="{{ spotify_data.tracks.2.album_cover }}" alt="Album Cover"
                                    class="w-full h-full object-cover rounded-md">
                            </div>
                            <div class="flex-1 min-w-0">
                                <h1 class="truncate text-lg font-bold text-left">{{ spotify_data.tracks.2.name }}</h1>
                                <h1 class="truncate text-md text-left text-[#945900]">{{ spotify_data.tracks.2.artist }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide 6 Your Favorite Artist Was -->
        <div class="swiper-slide flex items-center justify-center h-[90vh] pl-2 pr-2">
            <div class="bg-cover bg-center w-full min-w-[300px] sm:w-[30%] h-[70%] rounded-[40px] relative"
                style="background-image: url('{{ spotify_data.slide6_background }}');">
                <div
                    class="bg-black bg-opacity-0 p-4 rounded-[40px] h-full flex flex-col items-center justify-center text-white">
                    <h1 class="text-xl font-bold text-center truncate">Your Favorite Artist Was ...</h1>
                </div>
            </div>
        </div>

        <!-- Slide 7 Favorite Artist -->
        <div class="swiper-slide flex items-center justify-center h-[90vh] pl-2 pr-2">
            <div class="bg-cover bg-center w-full min-w-[300px] sm:w-[30%] h-[70%] rounded-[40px] relative"
                style="background-image: url('{{ spotify_data.artists.0.artist_image }}');">
                <div class="p-4 rounded-[40px] h-full text-white flex justify-center items-center">
                    <h1 class="text-8xl font-bold drop-shadow-[0_2.2px_2.2px_rgba(0,0,0,0.8)]">{{ spotify_data.artists.0.name }}</h1>
                </div>
            </div>
        </div>

        <!-- Slide 8 Your Top Artists Were -->
        <div class="swiper-slide flex items-center justify-center h-[90vh] pl-2 pr-2">
            <div class="bg-cover bg-center w-full min-w-[300px] sm:w-[30%] h-[70%] rounded-[40px] relative"
                style="background-image: url('{{ spotify_data.slide8_background }}');">
                <div
                    class="bg-black bg-opacity-0 p-4 rounded-[40px] h-full flex flex-col items-center justify-center text-white">
                    <h1 class="text-xl font-bold text-center truncate">Your Top Artists Were ...</h1>
                </div>
            </div>
        </div>

        <!-- Slide 9 Top 3 Artists -->
        <div class="swiper-slide flex items-center justify-center h-[90vh] px-2">
            <div class="bg-cover bg-center w-full min-w-[300px] sm:w-[30%] h-[70%] rounded-[40px] overflow-hidden"
                style="background-color: #DC8808;">
                <div class="p-4 rounded-[40px] h-full flex flex-col items-start justify-start text-white overflow-hidden">
                    <div class="pt-5 pb-5 flex flex-col justify-evenly  w-full h-full">
                        <!-- Track 1 -->
                        <div class="flex items-center gap-4 w-full">
                            <h1 class="text-4xl font-bold w-12 text-center">1</h1>
                            <div class="w-20 h-20 sm:w-24 sm:h-24 flex-shrink-0">
                                <img src="{{ spotify_data.artists.0.artist_image }}">
                            </div>
                            <div class="text-4xl font-bold flex flex-col justify-evenly h-full">
                                <h1 class="truncate text-md text-left">{{ spotify_data.artists.0.name }}</h1>
                            </div>
                        </div>
        
                        <!-- Track 2 -->
                        <div class="flex items-center gap-4 w-full">
                            <h1 class="text-4xl font-bold w-12 text-center">2</h1>
                            <div class="w-20 h-20 sm:w-24 sm:h-24 flex-shrink-0">
                                <img src="{{ spotify_data.artists.1.artist_image }}">
                            </div>
                            <div class="text-4xl font-bold flex flex-col justify-evenly h-full">
                                <h1 class="truncate text-md text-left">{{ spotify_data.artists.1.name }}</h1>
                            </div>
                        </div>
        
                        <!-- Track 3 -->
                        <div class="flex items-center gap-4 w-full">
                            <h1 class="text-4xl font-bold w-12 text-center">3</h1>
                            <div class="w-20 h-20 sm:w-24 sm:h-24 flex-shrink-0">
                                <img src="{{ spotify_data.artists.2.artist_image }}">
                            </div>
                            <div class="text-4xl font-bold flex flex-col justify-evenly h-full">
                                <h1 class="truncate text-md text-left">{{ spotify_data.artists.2.name }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide 10 LLM Summary -->
        <div class="swiper-slide flex items-center justify-center h-[90vh] pl-2 pr-2">
            <div class="bg-cover bg-center w-full min-w-[300px] sm:w-[30%] h-[70%] rounded-[40px] relative"
                style="background-image: url('{{ spotify_data.slide6_background }}');">
                <div
                    class="bg-black bg-opacity-0 p-4 rounded-[40px] h-full flex flex-col items-center justify-center text-white">
                    <h1 class="text-xl font-bold text-center overflow-auto max-h-full">{{ spotify_data.summary }}</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        direction: 'horizontal',
        loop: false,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        autoplay: {
            delay: 9000,  // Change slide every 9 seconds
        },
    });
</script>
{% endblock content %}